body{
    background-color: aliceblue;
}
.body,h1{
    text-align: center;
    bottom: 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 470px;
    height: 555px;
    border-radius: 20px;
    box-shadow: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}
.box, .box button{
    display: flex;
    align-items: center;
}
.box{
    width: 300px;
    height: 240px;
    flex-direction: column;
    justify-content: space-evenly;
}
.box button{
    width: 300px;
    height: 40px;
    background-color: #fff;
    outline: none;
    font-weight: bolder;
    border: 1px solid rgba(213, 208, 208, 0.682);
    border-radius: 20px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.box-one button img{
    margin: 0 .5rem;
    
}
.box-one i{
    color: #00acee;
    font-size: 1.8rem;
}
.box-two input{
    position: relative;
    width: 300px;
    height: 55px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-left: 10px;
}
.box-two input label{
    position: absolute;
    top: 0;
}
.box-two input::placeholder{
    font-size: 1rem; 
     
}
.box-two .next-btn{
    background-color: rgb(21, 19, 19);
    color: #eee;
    border-color: #fff;
}
.container p{
  font-size: rem;
  color: rgba(9, 9, 9, 0.899);
  
}
.container p a{
    text-decoration: none;
    color: #26b2e9;
}
